/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet"> */

/* @import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"); */

/* font-family: 'Amatic SC', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans&family=Limelight&display=swap");
.homepage {
  background-color: rgb(133, 133, 133);
  background: url("https://res.cloudinary.com/andmachado/image/upload/v1618420204/brooke-lark-08bOYnH_r_E-unsplash_a8hfuh.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item1 {
  /* background-color: blue; */
  padding-top: 100px;
  padding-bottom: 50px;

  font-size: 55px;
  width: 60%;
  height: auto;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: center;
  font-family: "Limelight", cursive;
}

.item2 {
  /* background-color: rgb(114, 19, 109); */
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  width: 60%;
  height: auto;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: center;
}

.item3 {
  padding-top: 10%;
  justify-content: center;
  /* background-color: rgb(151, 52, 52); */

  width: 60%;
  align-self: flex-end;
  justify-content: center;
  text-align: center;
}
