@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans&family=Limelight&display=swap");
.homepage {
  background: url("https://res.cloudinary.com/andmachado/image/upload/v1618420204/brooke-lark-08bOYnH_r_E-unsplash_a8hfuh.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleHomePage {
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 55px;
  width: 60%;
  height: auto;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: center;
  font-family: "Limelight", cursive;
}

.textHomePage {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  width: 60%;
  height: auto;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: center;
  padding-bottom: 20%;
}

#link {
  color: black;
}
